version: '3.2'
services:

  nmf2wav1:
    build: ./
    tty: true

  nmf2wav2:
     build: ./
     tty: true

  nmf2wav3:
      build: ./
      tty: true

  loadbalancer:
      build: ./nginx
      tty: true
      links:
        - nmf2wav1
        - nmf2wav2
        - nmf2wav3
      ports:
        - '5000:5000'